# Part I. ETL Pipeline for Pre-Processing the Files

## PLEASE RUN THE FOLLOWING CODE FOR PRE-PROCESSING THE FILES

#### Import Python packages

In [1]:
# Import Python packages 
import pandas as pd
import cassandra
import re
import os
import glob
import numpy as np
import json
import csv

#### Creating list of filepaths to process original event csv data files

In [2]:
# checking your current working directory
print(os.getcwd())

# Get your current folder and subfolder event data
filepath = os.getcwd() + '/event_data'

# Create a for loop to create a list of files and collect each filepath
for root, dirs, files in os.walk(filepath):
    
# join the file path and roots with the subdirectories using glob
    file_path_list = glob.glob(os.path.join(root,'*'))
    #print(file_path_list)

/home/workspace

#### Processing the files to create the data file csv that will be used for Apache Casssandra tables

In [3]:
# initiating an empty list of rows that will be generated from each file
full_data_rows_list = [] 
    
# for every filepath in the file path list 
for f in file_path_list:

# reading csv file 
    with open(f, 'r', encoding = 'utf8', newline='') as csvfile: 
        # creating a csv reader object 
        csvreader = csv.reader(csvfile) 
        next(csvreader)
        
 # extracting each data row one by one and append it        
        for line in csvreader:
            #print(line)
            full_data_rows_list.append(line) 
            
# uncomment the code below if you would like to get total number of rows 
#print(len(full_data_rows_list))
# uncomment the code below if you would like to check to see what the list of event data rows will look like
#print(full_data_rows_list)

# creating a smaller event data csv file called event_datafile_full csv that will be used to insert data into the \
# Apache Cassandra tables
csv.register_dialect('myDialect', quoting=csv.QUOTE_ALL, skipinitialspace=True)

with open('event_datafile_new.csv', 'w', encoding = 'utf8', newline='') as f:
    writer = csv.writer(f, dialect='myDialect')
    writer.writerow(['artist','firstName','gender','itemInSession','lastName','length',\
                'level','location','sessionId','song','userId'])
    for row in full_data_rows_list:
        if (row[0] == ''):
            continue
        writer.writerow((row[0], row[2], row[3], row[4], row[5], row[6], row[7], row[8], row[12], row[13], row[16]))

In [4]:
# check the number of rows in your csv file
with open('event_datafile_new.csv', 'r', encoding = 'utf8') as f:
    print(sum(1 for line in f))

6821

In [5]:
df=pd.read_csv('event_datafile_new.csv')
df.head()

,artist,firstName,gender,itemInSession,lastName,length,level,location,sessionId,song,userId
0,Barry Tuckwell/Academy of St Martin-in-the-Fie...,Mohammad,M,0,Rodriguez,277.15873,paid,"Sacramento--Roseville--Arden-Arcade, CA",961,Horn Concerto No. 4 in E flat K495: II. Romanc...,88
1,Jimi Hendrix,Mohammad,M,1,Rodriguez,239.82975,paid,"Sacramento--Roseville--Arden-Arcade, CA",961,Woodstock Inprovisation,88
2,Building 429,Mohammad,M,2,Rodriguez,300.61669,paid,"Sacramento--Roseville--Arden-Arcade, CA",961,Majesty (LP Version),88
3,The B-52's,Gianna,F,0,Jones,321.54077,free,"New York-Newark-Jersey City, NY-NJ-PA",107,Love Shack,38
4,Die Mooskirchner,Gianna,F,1,Jones,169.29914,free,"New York-Newark-Jersey City, NY-NJ-PA",107,Frisch und g'sund,38

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6820 entries, 0 to 6819
Data columns (total 11 columns):
artist           6820 non-null object
firstName        6820 non-null object
gender           6820 non-null object
itemInSession    6820 non-null int64
lastName         6820 non-null object
length           6820 non-null float64
level            6820 non-null object
location         6820 non-null object
sessionId        6820 non-null int64
song             6820 non-null object
userId           6820 non-null int64
dtypes: float64(1), int64(3), object(7)
memory usage: 586.2+ KB

# Part II. Complete the Apache Cassandra coding portion of your project. 

## Now you are ready to work with the CSV file titled <font color=red>event_datafile_new.csv</font>, located within the Workspace directory.  The event_datafile_new.csv contains the following columns: 
- artist 
- firstName of user
- gender of user
- item number in session
- last name of user
- length of the song
- level (paid or free song)
- location of the user
- sessionId
- song title
- userId

The image below is a screenshot of what the denormalized data should appear like in the <font color=red>**event_datafile_new.csv**</font> after the code above is run:<br>

<img src="images/image_event_datafile_new.jpg">

## Begin writing your Apache Cassandra code in the cells below

#### Creating a Cluster

In [7]:
# This should make a connection to a Cassandra instance your local machine 
# (127.0.0.1)

from cassandra.cluster import Cluster
cluster = Cluster()

# To establish connection and begin executing queries, need a session
session = cluster.connect()

#### Create Keyspace

In [8]:
# Create a Keyspace 
session.execute("create keyspace if not exists project with replication ={ 'class' : 'SimpleStrategy', 'replication_factor' : 1}")

#### Set Keyspace

In [9]:
#Set KEYSPACE to the keyspace specified above
session.set_keyspace('project')

### Now we need to create tables to run the following queries. Remember, with Apache Cassandra you model the database tables on the queries you want to run.

## Create queries to ask the following three questions of the data

### 1. Give me the artist, song title and song's length in the music app history that was heard during  sessionId = 338, and itemInSession  = 4


### 2. Give me only the following: name of artist, song (sorted by itemInSession) and user (first and last name) for userid = 10, sessionid = 182
    

### 3. Give me every user name (first and last) in my music app history who listened to the song 'All Hands Against His Own'

For table songs_by_sessionId, the sessionId was used as a partition key because the queries will filter by this column. itemInSession  were used as clustering column to help make up a unique key.

In [10]:

query = "CREATE TABLE IF NOT EXISTS songs_by_sessionId  "
query = query + "( sessionId int,  itemInSession int, artist text, length double, song text , PRIMARY KEY (sessionId ,itemInSession ))"
session.execute(query)

In [11]:
file = 'event_datafile_new.csv'

with open(file, encoding = 'utf8') as f:
    csvreader = csv.reader(f)
    next(csvreader) # skip header
    for line in csvreader:
## INSERT statements into the `query` variable
        query = "insert into songs_by_sessionId (sessionId , itemInSession, artist, length, song) "
        query = query + " VALUES (%s, %s, %s, %s, %s) "
        ##column elements assigned for each column in the INSERT statement.
        #print(line[0], int(line[3]), float(line[5]), int(line[8]), line[9])
        session.execute(query,(int(line[8]), int(line[3]), line[0], float(line[5]), line[9]))

####  SELECT to verify that the data have been inserted into each table

In [13]:
## Add in the SELECT statement to verify the data was entered into the table
rows= session.execute('select  artist, song, length from songs_by_sessionId where sessionId = 338 and itemInSession = 4')
for i in rows :
    print (i[0],i[1],i[2])

Faithless Music Matters (Mark Knight Dub) 495.3073

###  Query 2: Give me only the following: name of artist, song (sorted by itemInSession) and user (first and last name) for userid = 10, sessionid = 182

For table songs_by_user, the sessionId and userId was used as a partition key because the queries will filter by this columns. itemInSession was used as clustering column to help make up a unique key and order values.

In [14]:
query = "CREATE TABLE IF NOT EXISTS songs_by_user "
query = query + "(sessionId int, userId int, itemInSession int, artist text, firstName text, lastName text, song text , PRIMARY KEY ((sessionId, userId), itemInSession ))"
session.execute(query)

In [15]:
file = 'event_datafile_new.csv'

with open(file, encoding = 'utf8') as f:
    csvreader = csv.reader(f)
    next(csvreader) # skip header
    for line in csvreader:
## INSERT statements 
        query = "insert into songs_by_user (sessionId, userId, itemInSession, artist, firstName, lastName, song) "
        query = query + " VALUES (%s, %s, %s, %s, %s, %s, %s) "
        session.execute(query,(int(line[8]), int(line[3]), int(line[10]), line[0], line[1], line[4], line[9]))

In [16]:
rows= session.execute('select artist, song , firstName, lastName from songs_by_user where sessionId = 182 and  userId =10')
for i in rows :
    print (i[0],i[1],i[2],i[3])

### Query 3: Give me every user name (first and last) in my music app history who listened to the song 'All Hands Against His Own'
For table songs_by_songname, the song was used as a partition key because the queries will filter by this column. userId was used as clustering column to help make up a unique key.

In [17]:
query = "CREATE TABLE IF NOT EXISTS songs_by_songname "
query = query + "(song text, userId int, firstName text, lastName text, PRIMARY KEY (song, userId))"
session.execute(query)

In [18]:
file = 'event_datafile_new.csv'

with open(file, encoding = 'utf8') as f:
    csvreader = csv.reader(f)
    next(csvreader) # skip header
    for line in csvreader:
## INSERT statements into the `query` variable
        query = "insert into songs_by_songname (song, userId, firstName, lastName) "
        query = query + " VALUES (%s, %s, %s, %s)"
        session.execute(query,(line[9], int(line[10]), line[1], line[4]))

In [19]:
rows= session.execute("select firstName, lastName from songs_by_songname where song= 'All Hands Against His Own' ")
for i in rows :
    print (i[0],i[1])

Jacqueline Lynch
Tegan Levine
Sara Johnson

### Drop the tables before closing out the sessions

In [20]:
session.execute("DROP TABLE  songs_by_sessionId")
session.execute("DROP TABLE  songs_by_user")
session.execute("DROP TABLE  songs_by_songname")

### Close the session and cluster connection¶

In [21]:
session.shutdown()
cluster.shutdown()